
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

body{
    background-color: #EBD7A4;
    font-family: 'Roboto';
}

.mainContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 2rem;
}

.logo{
    width: 40%;
}

.logoContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 700;
    gap: 2rem;
}

.logoContainer h1{
    font-size: 1.7rem;
    text-align: center;
}

.buttonsContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.buttonIG , .buttonWSPP{
    background-color: #000000;
    border-radius: 100%;
    color: #EBD7A4;
    font-size: 2.5rem;
    padding: 1rem 1.3rem;
    border: none;
    cursor: pointer;
}

.buttonWSPP a {
    color: #EBD7A4;
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 1400px){
    .logo{
        width: 30%;
    }

    .mainContent{
        height: 90vh;
        gap: 2rem;
    }

    .logoContainer h1{
        font-size: 1.3rem;
    }

    .buttonIG, .buttonWSPP{
        font-size: 1.9rem;
    }
}

@media only screen and (max-width: 700px){
    .logo{
        width: 80%;
    }

    .mainContent{
        height: 100vh;
        gap: 5rem;
    }

    .logoContainer h1{
        font-size: 1rem;
        height: 40%;
    }

    .buttonIG, .buttonWSPP{
        font-size: 2rem;
    }
}